*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#ececec;
    overflow:hidden;
}

/* HEADER */

.encabezado{
    height:120px; /* más pequeño */
    background:#002845;
    position:relative;
}

.encabezado::before{
    content:"";
    position:absolute;
    width:120%;
    height:110px;
    background:#f7a04c;
    left:-10%;
    bottom:-65px;
    border-radius:50%;
}

.encabezado::after{
    content:"";
    position:absolute;
    width:120%;
    height:100px;
    background:#002845;
    left:-10%;
    bottom:-50px;
    border-radius:50%;
}

.titulo-area{
    position:relative;
    z-index:10;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
    padding-top:10px;
}

h1{
    color:white;
    font-size:60px;
    font-weight:900;
}

.logo-superior{
    width:70px;
    height:70px;
    background:#082b4d;
    color:#f5b347;
    font-size:45px;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* CONTENIDO */

.contenido{
    display:flex;
    margin-top:40px;
}

/* BOTONES IZQUIERDA */

.menu-grados{
    margin-left:20px; /* pegados */
    display:flex;
    flex-direction:column;
    gap:55px;
}

.grado-btn{
    width:150px;
    height:120px;
    border:none;
    border-radius:28px;
    background:#002845;
    color:white;
    font-size:55px;
    font-weight:bold;
    cursor:pointer;
}

/* LOGO GRANDE */

.logo-central{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.circulo-check{
    font-size:340px;
    color:#f5b347;
}

.estrella{
    position:absolute;
    top:20px;
    right:220px;
    color:#f5b347;
    font-size:80px;
}

/* FLECHA */

.volver{
    position:fixed;
    left:20px;
    bottom:10px;
    text-decoration:none;
    color:black;
    font-size:55px;
}